.App {
  text-align: center;
}
.mapStyles  {
  width: '100%';
  height: '100%';
}
.App-logo {
  height: 7vmin;
  pointer-events: none;
}
.div-container {
  min-height: 90vh;
  width: 80%;
  background-color: white;
  color: black;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#map {
  height: 100%;
}
a {
  white-space: nowrap;
}
.window {
  background-color: white;
  color: black
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn{
  background-color: #2299b9;
  border-color: #2299b9;
}
.card{
  border-color:#2299b9;
  border-width: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
h4{
  color: #2299b9;
  text-align: left;
}
